<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="AdoConnection" connectionString="data source=127.0.0.1;initial catalog=master;user id=sa;password=sa;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="MailFrom" value="51555745@qq.com" />
    <add key="MailTo" value="51555745@qq.com" />
    <add key="MailTo2" value="phenix9can@163.com" />    
    <add key="MailAttchPath" value="HomeCostAttach" />
    <add key="SendIntervalInHours" value="1" />
  </appSettings>
</configuration>