@{
    ViewBag.Title = "Cost Input";
}

@model HomeCost.Models.Home_Cost

@using (Html.BeginForm("Save", "Home", FormMethod.Post, new { id = "formInfo" }))
{
    <table class="tablezpf">
        <tr>
            <td class="tdzpf">花销日期</td>
            <td class="tdzpf"> @Html.TextBoxFor(model => model.CostDate, new { id = "date_yy-mm-dd", Value = DateTime.Now.ToString("yyyy-MM-dd"), @class = "form-control required" })</td>
        </tr>
        <tr>
            <td class="tdzpf">花销类型</td>
            @*<td class="tdzpf">@Html.TextBoxFor(model => model.CostType, new {id = "CostType", @class = "form-control required"})</td>*@
            <td><select class="tdzpf" id="CostType" style="margin-left: 20px; "><option value="-1">——请选择——</option></select></td>
        </tr>
        <tr>
            <td class="tdzpf">金额</td>
            <td class="tdzpf">@Html.TextBoxFor(model => model.CostAmount, new { id = "CostAmt", @class = "form-control required", onkeypress = "if (event.keyCode!=46 &&(event.keyCode< 48 || event.keyCode >57)) event.returnValue =false;" })</td>
        </tr>
        <tr>
            <td class="tdzpf">说明</td>
            <td class="tdzpf">@Html.TextBoxFor(model => model.CostDesc, new { id = "CostDesc", @class = "form-control required" })</td>
        </tr>


    </table>
    <div class="row">
        <div class="col-md-4">
            <button type="button" id="CancelFormButton" class="btn btn-primary operateButton">取消</button>
            <button type="button" id="SaveFormButton" class="btn btn-primary operateButton">保存</button>
        </div>
        @*<div>
            <button type="button" id="ExportButton" class="btn btn-primary operateButton">导出文件</button>
        </div>*@
    </div>
}

<script>

    $(document).ready(function() {
        GetCostTypeList();
    });
    function GetCostTypeList()
    {
         $.ajax({
    type: "POST",
    url: "/Home/GetCostTypeList",
    data: { SerialNo: 5, time: new Date().getTime() },
    dataType: "json",
    success: function(datas) {
       var data = eval('(' + datas + ')');
        $(data).each(function(c, v) {
            $("#CostType").append("<option value='" + v.value + "'>" + v.name + "</option>");
        });

    },
    error: function() {
        alert("获取花费类型失败！");
        return;
    }
    });
    }
    $("#date_yy-mm-dd").click(function (e) {
        WdatePicker();
    });

    $("#SaveFormButton").click(function() {
        //var newCostInfo =$("#formInfo").formSerialize();
        //$.loading(true, "正在处理中，请稍后...");
        var costDate = $("#date_yy-mm-dd").val();
        var costType = $("#CostType").find("option:selected").text();
        var costAmount = $("#CostAmt").val();
        var costDesc = $("#CostDesc").val();
        $.ajax({
            url: $("#formInfo").attr("action"),
            data: { CostDate: costDate, CostType: costType, CostAmount: costAmount, CostDesc: costDesc }, //newCostInfo,
            type: "post",
            dataType: 'json',
            success: function (rinfo) {
                if (rinfo == "success") {
                    alert("提交成功");
                    document.getElementById("CostAmt").value = "";
                    document.getElementById("CostDesc").value = "";
                } else if (rinfo == "errorNoUser") {
                    alert("无效用户不能提交");
                } else {
                    alert("提交失败");
                }
            },
            error: function(r) {
                //$.ajaxErrorProcess(r);
                //$.loading(false);
                alert("提交失败");
            }
        });
    });

    $("#ExportButton").click(function() {
        $.ajax({
            url: "/Home/ExportToExcel",
            type: "POST",
            dataType: "json",
            success: function (rinfo) {
                var data = eval('(' + rinfo + ')');
                if (data && data.result == "true") {
                    alert("导出成功");
                } else if (data && data.result == "errorNoUser") {
                    alert("无效用户不能导出");
                } else {
                    alert("导出失败问题未知");
                }
            },
            error: function(r) {
                alert("导出失败" + r.responseText);
            }
        });
    });

</script>
